#clock {	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*werkt niet en ik snap niet waarom*/
@media only screen and (min-width: 760px) { 
	#earth {
		width: 500px;
	}

	.earthBackground {
		width: 90%;
	}
}

@media only screen and (min-width: 1024px) {
	#earth {
		width: 900px;
	}

	.earthBackground {
		width: 90%;
	}
}

@media only screen and (min-width: 1440px) {
	#earth {
		width: 100px;
	}

	.earthBackground {
		width: 90%;
	}
}