html {
	box-sizing: border-box;
}
*, 
*:before,
*:after{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background: rgb(43,122,170);
	background: linear-gradient(0deg, rgba(43,122,170,1) 25%, rgba(115,209,218,1) 100%);
}

/*FONT&TEXT PLACEMENT*/
h1 {
	font-family: roboto, arial, sans-serif;
	color: white;
	text-align: center;
	padding: 10px;
}

#clock {
	font-family: roboto, arial, sans-serif;
	font-size: 4em;
	font-weight: 700;
	text-align: center;
}

#greeting {
	font-family: roboto, arial, sans-serif;
	font-size: 0.4em;
}

#dateDiv {
	font-family: roboto, arial, sans-serif;
	font-size: 2em;
	text-align: center;
	color: white;
}

label, #timezones {
	font-family: roboto, arial, sans-serif;
	text-align: center;
}

#timezoneList {
	text-align: center;
}

.copyright {
	font-family: roboto, arial, sans-serif;
	color: #CECECE;
	font-size: 0.87em;
	text-align: center;
}

/*ICONS&ANIMATION*/
#earth {
	justify-content: center;
	width: 100%;
	overflow: hidden;
}
.earthBackground {
	width: 100%;
}

#singleCloud {
	position: absolute;
	width: 20%;
	top: 75px;
	left: 10px;
	animation: 4500ms leftright infinite alternate ease-in-out;
}

@keyframes leftright {
  0% { 
  	left: 90px; 
  }
  100% { 
  	right: 75px;
  }
}

#moreClouds {
	position: absolute;
	width: 20%;
	top: 200px;
	right: 10px;
	animation: 4500ms rightleft infinite alternate ease-in-out;
}

@keyframes rightleft {
  0% { 
  	left: 75px; 
  }
  100% { 
  	right: 90px;
  }
}


/*CLOCK*/
#clock {
	background-color: white;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}